#main_screen {
    background-image: url('https://live.staticflickr.com/1464/24060063701_90f43e248d_b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

label, output, input {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    height: 48px;
    margin-bottom: 8px;
    font-size: 28px;
}	