html, body{
    font-family: Verdana;
    background-size: 100%;
    margin: 0;
    height: 100%;
}

.header{
    background-image: repeating-linear-gradient(40deg, rgb(57, 255, 212), rgb(180, 255, 239) 40%);
    padding: 2%;
    text-align: center;
}

.menu{
    font-size: 14px;
    font-style: oblique;
    background-color: aquamarine;
    width: 30%;
    float: left;
}

button {
    background-color: blue;
    width: 100%;
}

#main_screen {
    margin: 0;
    float: left;
    width: 70%;
    background-color: blueviolet;
}

iframe {
 display: block; 
 width: 100%; 
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
}